# .inputrc 
#    See readline(3readline) and 'info rluserman' for more information.
#
#  (c) rbt ylee <ylee@bodhilinux.com> 2012 
#  Do What The Fuck You Want To Public License, v2

# Read system inputrc
$include  /etc/inputrc

## Set some variables
#
#     Ignore Case
set completion-ignore-case on
#     Insensitivity between hyphens and underscores:
set completion-map-case on
#     If you don’t like pressing Tab twice,
#       Fix so that the line is both completed to the longest 
#       unambiguous pattern, and then possible values are also printed
set show-all-if-ambiguous on
#      Bash Magic space
$if Bash
  Space: magic-space
$endif

## Define some Macros
#
#     Insert double quotes & set cursor between them
"\C-x\"": "\"\"\C-b"
#
#     Insert single quotes & set cursor between them
"\C-x'": "''\C-b"
#
#     Pre-pend sudo to a command
"\C-s":"\C-asudo \C-e"
